body{
    background-color: white; 
    font-family: "Roboto", sans-serif;
}
.hero{
    background-color: #1F2937;
    padding: 0 250px;
    color: white;
}
head{
    font-size:48px;
    font-weight: 900;
    color:#F9FAF8;
}
.logo{
    font-size: 24px;
    font-weight: 600;
}
.nav{
    display:flex;
    align-items:center;
    justify-content: space-between;
    padding-top:10px;
    padding-bottom:10px;
    margin-bottom: 100px;
}
ul{
    list-style: none;
    display:flex;
    gap:20px;
    
}
a{
    text-decoration: none;
    color:white;
}
.content{
    display:flex;
    gap:200px;
    margin-bottom: 80px;
    display: flex;
    gap: 200px;
    padding-bottom: 100px;
}
button{
    background-color: #3b82f6;
    font-size: 20px;
    color:white;
    padding:10px 24px;
    font-weight:bold;
    border:none;
    border-radius:10px;
}
.text{
    max-width: 400px;
    flex:1;
}
.img{
    flex: 1;
    display: flex;
    justify-content: flex-end;
}
.img img{
    max-width: 100%;
}

.second{
    background-color: white;
    color:black;
    padding: 10px;
}
.head2{
    font-size:36px;
    display:flex;
    justify-content: center;
}
.container{
    display:flex;
    flex-wrap: wrap;
    gap:60px;
    padding:10px;
    justify-content: center;
    
}
.card{
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    padding-bottom: 60px;
}
.third{
    background-color: #e5e7eb;
    padding: 40px;
    font-size: 36px;
    display: flex;
    justify-content:center;
    align-items:center;
    font-style: italic;
    color:#1F2937;
    font-weight: lighter;
}

.fourth{
    display:flex;
    justify-content:center;
    padding:60px;
}
.blu{
    background-color: #3b82f6;
    width: 80%;
    display:flex;
    border-radius: 15px;
    padding:20px;
    justify-content: center;
    color:white;
    align-items: center;
}
.sign{
    border: 3px solid white;
    width: 150px;
    height: 50px;
}
.footer{
    background-color: #1F2937;
    padding:15px;
    color:white;
    font-size: 20px;
    display:flex;
    justify-content:center;
    align-items:center;
    
}
